footer {
  background-color: rgb(255, 248, 240);
  font-family: "Host Grotesk", sans-serif;
  height: 200px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
}

p {
  margin-top: 50px;
}