header {
  margin: 30px;
  background-color: rgba(221, 221, 221, 0.349);
  font-family: "Host Grotesk", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.logo-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-brand img {
  width: 30px;
  margin: 10px;
}

.content-nav {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: 500;
  font-size: 16px;
}

.content-section {
  list-style: none;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button-register {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #FFB500;
  font-weight: 600;
  font-size: 16px;
}

.button-login {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #FFB500;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bi-list {
  color: black;
  font-size: 40px;
  display: none;
}

/* RESPONSIVE NAVBAR / MENU HAMBURGUESA */

@media (max-width: 1023px) {
  header {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
  }

  .logo-brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .bi-list {
    display: block;
  }

  .content-nav,
  .content-buttons {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-open,
  .button-open {
    display: block;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .content-buttons {
    margin-top: 30px;
  }

  .logo-brand h2 {
    font-size: 17px;
  }
}