* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
}

/* INICIO STYLE */

#content-inicio {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(228, 228, 228, 0.39);
}

.content-inicio-text h1 {
  font-size: 150px;
  color: #FFB500;
}

.content-inicio-text h2 {
  font-size: 30px;
  text-align: start;
}

.content-inicio-img img {
  background: radial-gradient(circle, rgba(255, 230, 156, 1) 40%, rgba(255, 181, 0, 1) 100%);
  position: relative;
  border-radius: 300px 350px 300px 10px;
  border: 5px solid black;
  max-width: 700px;
}

/* INICIO RESPONSIVE */

/* @media (min-width: 1200px) {
  .content-inicio-text h1 {
    font-size: 110px;
  }

  .content-inicio-text h2 {
    font-size: 25px;
  }

  .content-inicio-img img {
    max-width: 700px;

  }

} */

/* @media (max-width: 1200px) {
  .content-inicio-text h1 {
    font-size: 170px;
  }

  .content-inicio-text h2 {
    font-size: 50px;
  }

  .content-inicio-img img {
    max-width: 900px;

  }

} */



/* CONOCENOS STYLE */

#content-about {
  border-radius: 20px;
  border: 5px solid #FFB500;
  margin-top: 50px;
  margin: 30px;
  display: flex;
  gap: 50px;
  background-color: #FFB500;
}

#content-about img {
  width: 900px;
  border-radius: 20px;
}

.about-title {
  margin: 100px;
  color: white;
}

.about-title h2 {
  font-size: 70px;
}

.about-title p {
  font-size: 40px;
  font-weight: 700;
}

.about-button {
  padding: 25px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 19px;
  margin-top: 40px;
}

/* ABOUT RESPONSIVE */
/* @media (min-width: 1200px) {
  .about-title h2 {
    font-size: 60px;
  }

  .about-title p {
    font-size: 25px;
  }

  #content-about img {
    max-width: 500px;
  }

} */


/* SERVICIOS STYLE */

#content-services {
  margin: 30px;
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(228, 228, 228, 0.39);
}

#content-services h2 {
  font-size: 60px;
}

.services-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.service-content {
  border-radius: 30px;
  font-size: 20px;
  border: 5px solid #FFB500;
  background-color: white;
  padding: 40px;
  height: 100%;
}

.service-content h3 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}