* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
}

/* INICIO STYLE */

#content-inicio {
  margin: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  padding: 40px;
  background-image: url("src/assets/mujer-joven-feliz-pagando-con-telefono-inteligente-y-tarjeta-de-credito-de-plastico-de-pie-sobre-una-pared-blanca.jpg");
  background-size: cover;
  background-position: center top 20%;
  background-repeat: no-repeat;
  height: 85vh;
}

.content-inicio-text h1 {
  font-size: 140px;
  color: #FFB500;
}

.content-inicio-text h2 {
  font-size: 30px;
  text-align: start;
}


/* INICIO RESPONSIVE */


/* CONOCENOS STYLE */

#content-about {
  border-radius: 20px;
  margin-top: 50px;
  margin: 30px;
  display: flex;
  background-color: rgb(238, 238, 238);
}

#content-about img {
  width: 50%;
  border-radius: 20px;
  margin: 20px;
}

.about-title {
  color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: #FFB500;
  border-radius: 20px;
  padding: 40px;
  margin: 20px;
}

.about-title h2 {
  font-size: 60px;
}

.about-title p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.about-button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: #FFB500;
  background-color: white;
  font-weight: 600;
  font-size: 19px;
  margin-top: 40px;
}

/* ABOUT RESPONSIVE */


/* SERVICIOS STYLE */

#content-services {
  margin: 30px;
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(228, 228, 228, 0.39);
}

#content-services h2 {
  font-size: 50px;
}

.services-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.service-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  font-size: 18px;
  border: 2px solid #b4b4b4;
  background-color: white;
  padding: 40px;
}

.service-content h3 {
  text-transform: uppercase;
  font-size: 23px;
  text-align: start;
  margin-bottom: -20px;
}

/* AJUSTE ICONOS */
.bi-bag-plus,
.bi-grid-3x3-gap,
.bi-graph-up-arrow,
.bi-share {
  font-size: 50px;
  margin-bottom: 50px;
  color: #FFB500;
}