.card-auth-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.card-auth-content h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

.card-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-inputs label {
  font-size: 18px;
}

.card-inputs input {
  padding: 7px;
  border-radius: 20px;
  border: 2px solid #FFB500;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 300px;
}

.card-button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #FFB500;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}